
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <title>ROOM DASHBOARD</title>
      <!-- Bootstrap CSS -->
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!-- jQuery library -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <!----css3---->
        <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
    
    
    <!--google fonts -->
  
      <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  
  
  <!--google material icon-->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">

  </head>
  <body>
  

<div class="wrapper">

        <div class="body-overlay"></div>
    
    <!-------------------------sidebar------------>
         <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><img src="{% static 'assets\img\logo1.png' %}" class="img-fluid"/><span>MMK HOTEL</span></h3>
               {% for accountadmin in accountadmin %}
                <p>{{accountadmin.username}}</p>
                 {% endfor %} 
                
            </div>
            <ul class="list-unstyled components">
                <li  class="active">
                              <a href="{% url 'mmkreservation:admin_view' %}" class="dashboard"><i class="material-icons">dashboard</i>
                    <span>HOME</span></a>
                          </li>
              
          
                          <li class="dropdown">
                              <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" 
                    class="dropdown-toggle">
                    <i class="material-icons">aspect_ratio</i>Account</a>
                              <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                                  <li>
                                      <a href="{% url 'mmkreservation:adminaccounts_view' %}">User</a>
                                  </li>
                                  
                                
                              </ul>
                </li>
                <li class="dropdown">
                  <a href="{% url 'mmkreservation:adminroom_view' %}">
                  <i class="material-icons">apps</i><span>Rooms Booked</span></a>
                 
              </li>
      
              <li class="dropdown">
                <a href="{% url 'mmkreservation:adminviewroom_view' %}">
                <i class="material-icons">apps</i><span>Add Rooms</span></a>
               
            </li>
        
                <li class="dropdown">
                  <a href="{% url 'mmkreservation:adminpayment_view' %}">
                  <i class="material-icons">apps</i><span>Payments</span></a>
                 
              </li>
              <li class="dropdown" class="active">
                <a href="{% url 'mmkreservation:login_view' %}">
                <i class="material-icons">apps</i><span>Log Out</span></a>
               
            </li>
        </nav>
    
    
    
    
    <!--------page-content---------------->
    
    <div id="content">
       
       <!--top--navbar----design--------->
       
       <div class="top-navbar">
          <div class="xp-topbar">

                <!-- Start XP Row -->
                <div class="row"> 
                    <!-- Start XP Col -->
                    <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                        <div class="xp-menubar">
    
                </a>
                            </li>
              
        
              
                        </div>
                    </div>
                    <!-- End XP Col -->

                </div> 
                <!-- End XP Row -->

            </div>
         <div class="xp-breadcrumbbar text-center">
                <h4 class="page-title">Account</h4>  
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                  </ol>                
            </div>
      
       </div>
       
       






<body>
  
{% block content %} 
  <hr/>
  <form method="POST">
    {% csrf_token %}


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>BOOK A ROOM</h2>
          <ol>
            <li><a href="Home#hero">Home</a></li>
            <li>Conference Room</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Members Section ======= -->
    <div class="image" style="background: url('{% static "assets/img/hero-bg.jpg"%}')" >

  <br><br><br>
  <div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Book a Room</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">


      <form method="POST">
        {% csrf_token %}
          <div class="input-group form-group">

            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Room Name" id="roomname" name="roomname"> 
          </div>

   
          
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-calendar"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Room Type"  id="roomtype" name="roomtype">
          </div>


          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Price"  id="id-price" name="price">
          </div>



          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="PAX"  id="pax" name="pax">
          </div>


          <div class="form-group">
            <div class="text-center"><button class="btn float-right login_btn"  href="{% url 'mmkreservation:success_view' %}" type="submit">ADD Now</button></div>            

          </div>
          
   {% endblock content %}       
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links" href="{% url 'mmkreservation:adminviewroom_view' %}">
          Do not have an account?<a href="{% url 'mmkreservation:adminviewroom_view' %}">ADD</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
    <!-- End Members Section -->
    <br><br><br><br><br><br>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          &copy; Copyright <strong>MMK Hotel</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
        -->
          Designed by <a href="https://bootstrapmade.com/">MMK HOTEL</a>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'assets/vendor/typed.js/typed.min.js'%}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>

