{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MMK Hotel Reservation</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
       <!-- Favicons -->
   
       <link href="{% static 'assets/img/logo1.png' %}" rel="icon">
       <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Imperial - v5.7.0
  * Template URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <!-- <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <img class="" src="{% static 'assets/img/logo1.png'%}" alt="Imperial">
        </div>

        <h1>Welcome to MMK Hotel and Reservation</h1>
        <h2>We offer <span class="typed" data-typed-items="affordable rooms, top quality ammenenities , great services "></span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">Get Strated</a>
          <a href="#services" class="btn-services">Our Services</a>
        </div>
      </div>
    </div> -->
  <!-- </section> -->
  
  <!-- End Hero -->
  <!-- <div class="hero-logo">
    <img class="" src="{% static 'assets/img/logo1.png'%}" alt="Imperial">
  </div> -->
  <!-- ======= Header ======= -->



  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo mr-auto"><img src="{% static 'assets/img/logo1.png'%}" alt=""></a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1 class="logo mr-auto"><a href="index.html">Imperial</a></h1> -->
      <!-- <img src="{% static 'assets\img\conference6.jpg' %}"/> -->


      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="{% url 'mmkreservation:Home_view' %}#hero">Home</a></li>
         
  
            <li><a class="nav-link scrollto" href="{% url 'mmkreservation:Home_view' %}#about">About</a></li>
            <li><a class="nav-link scrollto" href="{% url 'mmkreservation:Home_view' %}#services">Services</a></li>
            <li><a class="nav-link scrollto " href="{% url 'mmkreservation:Home_view' %}#portfolio">Portfolio</a></li>
            <li><a class="nav-link scrollto" href="{% url 'mmkreservation:Home_view' %}#testimonials">Testimonials</a></li>
            <li><a class="nav-link scrollto" href="{% url 'mmkreservation:Home_view' %}#team">Team</a></li>
          </li>
          <li><a class="nav-link scrollto" href="{% url 'mmkreservation:Home_view' %}#contact">Contact</a></li>
      
      </li>
      <li><a class="nav-link scrollto" href="{% url 'mmkreservation:login_view' %}">Account</a></li>
    </ul>

    </div>
  </header><!-- End Header -->


<body>
  
{% block content %} 
  <hr/>
  <div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Book a Room</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
  <form method="POST">
    {% csrf_token %}


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Members</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Members</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Members Section ======= -->
    <div class="image" style="background: url('{% static "assets/img/hero-bg.jpg"%}')" >

  <br><br><br>
  <div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Reservation Details</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">

        <!--<form method="post" >
             {% csrf_token %}
             <table>
                {{ form }}
                 <tr>
                    <td></td>
                    <td><input type="submit" name="btnRegister" value="Register" /></td>
                </tr>
             </table>

         </form>-->

      <form method="POST">
        {% csrf_token %}
          <div class="input-group form-group">
            <label for="first_name">Firstname</label>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" id="first_name" name="first_name"> 
          </div>

          <div class="input-group form-group">
            <label for="last_name">Lastname</label>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" id="last_name" name="last_name">
          </div>

          <div class="input-group form-group">
            <label for="email">Email</label>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-at"></i></span>
            </div>
            <input type="text" class="form-control" id="email" name="email">
          </div>

          <div class="input-group form-group">
            <label for="phone">Phone</label>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="phone" name="phone">
          </div>

          <div class="input-group form-group">
            <label for="address">Address</label>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="address" name="address">
          </div>

          <div class="input-group form-group">
            <label for="zip">Zip</label>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
            </div>
            <input type="text" class="form-control" id="zip" name="zip">
          </div>

          <div class="input-group date" data-provide="datepicker">
            <label for="checkin_date">Check-in Date</label>
            <input type="text" class="form-control">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
          
          <div class="input-group form-group">
            <label for="checkin_time">Check-in Time</label>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
            </div>
            <input class="form-control" id="time" type="time" name="time" value="13:30">
          </div>

          <div class="input-group date" data-provide="datepicker">
            <label for="checkout_date">Check-out Date</label>
            <input type="text" class="form-control">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>

          <div class="input-group form-group">
            <label for="checkout_time">Check-out Time</label>
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
            </div>
            <input class="form-control" id="time" type="time" name="time" value="13:30">
          </div>
          
        <div class="input-group form-group">
          <label for="standard">Room Preferences</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="standard" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Standard
            </label>
          </div>
        </div>

        <div class="input-group form-group">
            <label for="deluxe">Room Preferences</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="deluxe" id="flexRadioDefault2">
              <label class="form-check-label" for="flexRadioDefault2">
                Deluxe
              </label>
            </div>
        </div>

        <div class="input-group form-group">
            <label for="suite">Room Preferences</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="suite" id="flexRadioDefault3">
              <label class="form-check-label" for="flexRadioDefault3">
                Suite
              </label>
            </div>
        </div>
        
          <!--<div class="form-group">
            <div class="text-center"><button class="btn float-right login_btn"  href="{% url 'mmkreservation:login_view' %}" type="submit">Sign Up</button></div>            

          </div>-->
          
   {% endblock content %}       
       <!-- </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links" href="{% url 'mmkreservation:login_view' %}">
          Already have an account?<a href="{% url 'mmkreservation:login_view' %}">Login here</a>
        </div>
      </div>
    </div>
  </div>
</div>-->
<br><br><br>
    <!-- End Members Section -->
    <br><br><br><br><br><br>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          &copy; Copyright <strong>MMK Hotel</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
        -->
          Designed by <a href="https://bootstrapmade.com/">MMK HOTEL</a>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'assets/vendor/typed.js/typed.min.js'%}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>

